# Core Django
Django==5.1.5
django-cors-headers
django-filter<25.0
djangorestframework
djangorestframework-gis
djangorestframework_simplejwt

# Production Server & Helpers
gunicorn
dj-database-url
psycopg2-binary
whitenoise

# AI & Auth
google-generativeai>=0.8.2
google-genai
google-auth
google-api-python-client
pillow
python-dotenv
requests
